license*.json
*.pyc
.vendor
.bundle
Converging
TODO
.idea/
.DS_Store
.venv/
venv/
assistant-venv/
__pycache__/
celerybeat-schedule.db
static/admin/
static/drf-yasg/
static/rest_framework/
OpsAssistantApi/static/
OpsAssistantApi/db.sqlite3
db.sqlite3